.semaforo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.semaforo-pole {
    width: 10px;
    height: 100px;
    background-color: black;
    margin: auto;
}

.semaforo-body {
    width: 100px;
    height: 230px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.luz {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.encendido {
    opacity: 1;
}

.rojo.encendido {
    box-shadow: red;
}

.amarillo.encendido {
    box-shadow: yellow;
}

.verde.encendido {
    box-shadow: green
}